{% extends "Home.html" %}

{% block content %}
    <h2 style="">Last 50 Dataset Files Info Result</h2>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>

      <th scope="col">Path</th>
      <th scope="col">Source</th>
      <th scope="col">File Type</th>
      <th scope="col">Field</th>
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
    {% endfor %}
   </tbody>
</table>
{% endblock %}